<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Veterinary Clinic</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/jquery-old/jquery.min.js"></script>*@
    <link rel="stylesheet" href="~/lib/kendo/dist/css/kendo.common.min.css"/>
    <link rel="stylesheet" href="~/lib/kendo/dist/css/kendo.default.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/dist/css/kendo.silver.min.css"/>
    <link rel="stylesheet" href="~/lib/alertify/dist/css/alertify.core.css"/>
    <link rel="stylesheet" href="~/lib/alertify/dist/css/alertify.default.css"/>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


    <script src="~/lib/kendo/dist/js/kendo.all.min.js"></script>
    <script src="~/lib/alertify/dist/js/alertify.js"></script>
    <script src="~/js/common-functions.js"></script>
    <script src="~/js/signarl/dist/browser/signalr.js"></script>    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Appointment" asp-action="Index">Veterinary Clinic</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Appointment" asp-action="Index">Appointments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Index">Client</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Veterinary Clinic - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
